<section class="flex flex-col md:min-h-[80%] justify-center items-center max-sm:w-full">
  <h1
    class="max-sm:mt-24 max-sm:text-6xl mb-5 text-8xl font-bold text-center dark:text-darkfont text-zinc-800 max-md:mt-10 max-md:max-w-full max-md:text-7xl mt-32 w-full">
    for every being
  </h1>
  <p
    class="max-sm:text-3xl text-5xl text-center font-bold text-zinc-800 max-md:max-w-full max-md:text-4xl dark:text-darkfont">
    — human and animal alike.
  </p>
  <p
    class="max-sm:text-2xl max-sm: mt-6 mb-20 text-3xl md:w-[56.25rem] text-center text-zinc-800 max-md:max-w-full dark:text-darkfont">
    We're here for the everyday experiences, stories, and the simple beauty of shared moments. Together, we learn and
    evolve on this journey
    towards better. In coexistence, possibilities are boundless, driving our collective growth.
  </p>
</section>
<div
  class="flex gap-5 max-md:gap-0 h-[250vh] max-sm:[200vh] items-start md:flex-row-reverse max-sm:flex-col-reverse frame1 relative">
  <div class="max-sm:p-5 max-lg:p-5 flex flex-col ml-28 mt-20 max-md:ml-0 paragraph">
    <div class="flex flex-col p-5 max-md:mt-10 md:max-w-full">
      <h2 class="mt-32 dark:text-darkfont text-[3.438rem] font-bold leading-[3.75rem] md:w-[35rem]">simple for you, good
        for your pet</h2>
      <p class="mt-6 dark:text-darkfont text-[1.375rem] leading-8 md:w-[35rem] max-md:max-w-full">
        Our objective is simple yet profound, to seamlessly integrate education, employment, and empowerment to elevate
        the quality of
        services offered in the industry. Through our platform, we provide opportunities for individuals, businesses and
        communities,
        uplifting the economy and encouraging dialogue towards organising the industry. This ripple effect of change,
        benefits not only the
        animals but also the communities they belong to.
      </p>
      <p class="trigger-div">

      </p>
    </div>
  </div>
  <div class="flex flex-col max-md:flex-col max-md:w-full sticky -left-[-6%] phone max-sm:fixed">
    <!-- <img src="assets/images/Calendar.png" class="w-80 relative top-0 right-0" /> -->
    <div class="phone_side_containers left_component flex rotate-90 gap-5">
      <div class="flex flex-col gap-3">
        <img src="assets/images/Calendar.png" />
        <img src="assets/images/video-player.png" />
      </div>
      <div class="flex flex-col gap-3">
        <img src="assets/images/grooming.png" />
        <img src="assets/images/ngos.png" />
        <img src="assets/images/adoption-centres.png" />
      </div>
    </div>
    <div class="flex">
      <img id="phoneImage" loading="lazy" [src]="imageSrc" alt="Detailed description of the image"
        class="grow md:mt-52 " />
      <div class="phone_side_containers right_component flex rotate-90 gap-3 w-full">
        <div class="flex flex-col gap-3">
          <div class="flex">
            <img src="assets/images/pet-image.png" class="" />
            <img src="assets/images/veterinarian-services.png" class="" />
          </div>
          <div class="flex">
            <img src="assets/images/timeSlot.png" class="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>