@keyframes slideInAndFade {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.scrollable-div {
  height: 2500px; /* set a fixed height for the div */
  overflow-y: scroll; /* enable vertical scrollbar */
}
.frame1 {
}
.phone {
  transition: all 0.2s linear;
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.phone_side_containers {
  /* transition: opacity 0.3s ease;   */
  /* opacity: 0; */
}

.services-col {
  animation: slideInAndFade 1s ease-in-out forwards;
}

