<section class="flex max-sm:flex-col justify-center px-20 mt-6 w-full">
  <div class="md:w-1/3">
    <img src="assets/images/dogImage.png" alt="Relevant description for the image" class="max-w-full aspect-[0.77]" />
  </div>
  <div class="md:px-20 md:w-2/3">
    <div class="md:text-7xl text-5xl font-bold tracking-wide leading-[3.8625rem]">Contact Us</div>
    <form class="mt-11 w-full">
      <div class="border-b border-solid bg-transparent border-zinc-800 dark:border-gray-200 flex flex-col m-3">
        <label for="fullName" class="text-xl font-medium p-2">FULL NAME</label>
        <input
          type="text"
          id="fullName"
          aria-label="Enter your full name"
          placeholder="Enter your full name"
          class="border-0 w-full p-2 dark:bg-darkbg max-sm:text-xl text-xl md:pb-3 md:px-3 outline-none"
        />
      </div>
      <div class="border-b border-solid bg-transparent border-zinc-800 dark:border-gray-200 flex flex-col m-3 mt-5">
        <label for="email" class="text-xl font-medium p-2">EMAIL ADDRESS</label>
        <input
          type="email"
          id="email"
          aria-label="Enter your email address"
          placeholder="Enter your email address"
          class="border-0 w-full p-2 dark:bg-darkbg max-sm:text-xl text-xl md:pb-3 md:px-3 outline-none"
        />
      </div>
      <div class="border-b border-solid bg-transparent border-zinc-800 dark:border-gray-200 flex flex-col mt-5 m-3">
        <label for="message" class="text-xl font-medium p-2">MESSAGE</label>
        <textarea
          id="message"
          aria-label="Type your message or query"
          placeholder="Type your message or query"
          class="border-0 w-full p-2 h-14 md:h-20 dark:bg-darkbg max-sm:text-xl text-xl md:pb-3 md:px-3 outline-none"
        ></textarea>
      </div>
      <button
        type="submit"
        class="md:my-10 max-sm:mt-14 flex gap-2 justify-center px-4 py-3 mt-9 text-xl font-medium tracking-normal whitespace-nowrap border border-solid border-zinc-800 dark:border-gray-200 leading-[3.925rem] rounded-[2.2025rem]"
      >
        <div class="flex h-10 items-center md:w-auto px-3 text-2xl md:text-2xl">
          Submit
          <div class="flex items-center">
            <img
              src="assets/icons/backArrow.svg"
              alt="Submit"
              class="shrink-0 aspect-square w-[1.68r75rem] rotate-180 dark:invert ml-3 md:w-[2.1875rem]"
            />
          </div>
        </div>
      </button>
    </form>
  </div>
</section>
<app-footer></app-footer>
