<main class="mt-9 mb-28 w-full max-md:mb-10 max-md:max-w-full font-sfpro">
  <section class="flex gap-5 max-md:flex-col max-md:gap-0 container">
    <div class="flex flex-col w-[56%] max-md:ml-0 max-md:w-full phone">
      <img loading="lazy" [src]="imageSrc" alt="Detailed description of the image" class="grow mt-40 max-md:max-w-full" />
    </div>
    <aside class="max-sm:p-5 max-lg:p-5 flex flex-col ml-28 mt-20 w-[44%] max-md:ml-0 max-md:w-full paragraph">
      <div class="flex flex-col px-5 text-zinc-800 max-md:mt-10 max-md:max-w-full">
        <h2 class="mt-32 text-[55px] w-[495px] font-bold leading-[60px]">simple for you, good for your pet</h2>
        <p class="mt-6 text-[22px] leading-8 w-[550px] max-md:max-w-full">
          Our objective is simple yet profound, to seamlessly integrate education, employment, and empowerment to elevate the quality of
          services offered in the industry. Through our platform, we provide opportunities for individuals, businesses and communities,
          uplifting the economy and encouraging dialogue towards organising the industry. This ripple effect of change, benefits not only
          the animals but also the communities they belong to.
        </p>
      </div>
    </aside>
  </section>
  <app-service-tabs></app-service-tabs>
  <app-vertical-events></app-vertical-events>
  <app-blogs-list></app-blogs-list>
</main>
