<main class="flex flex-col items-center w-full max-md:mt-32 md:max-w-full">
  <header class="flex flex-col items-center px-5 font-[500] md:max-w-full">
    <h1 class="tracking-normal leading-[166%] text-2xl mt-28">OUR BLOGS</h1>
    <h2 class="mt-8 text-center font-[550] text-5xl">knowledge up with furrcrew’s petcare tips</h2>
    <p class="mt-8 leading-10 text-center text-[#71788A] text-2xl w-[45vw]">
      essential tips and insights about what’s new in pet care world ensuring health and happiness of your furry friends
    </p>
  </header>
  <section class="mt-20 px-5 md:mt-10">
    <form class="flex justify-center bg-white border-gray-600 border rounded-[30px] overflow-hidden">
      <button type="submit" class="py-3.5 pr-4 pl-5">
        <img src="{{ searchIconUrl }}" alt="Search" class="aspect-square w-6" />
      </button>
      <input class="flex flex-grow p-3 text-xl leading-8 outline-none" type="search" placeholder="Search" aria-label="Search" />
    </form>
    <nav class="flex gap-5 justify-center px-5 mt-3 text-slate-500 md:flex-wrap">
      <span class="my-auto text-xl leading-8">Tags:</span>
      <div class="flex gap-4 font-medium md:flex-wrap">
        <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag1</a>
        <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag2</a>
        <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag3</a>
        <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag4</a>
        <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag5</a>
        <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag6</a>
        <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag7</a>
      </div>
    </nav>
  </section>
  <section class="flex flex-wrap gap-20 justify-center content-center items-center md:px-40 md:mt-10">
    @for (blog of blogsService.blogs;track blog){
    <article class="flex flex-col w-full max-w-xs md:mt-10 cursor-pointer" (click)="goToBlogsDetails(blog.id)">
      <img src="{{ blog.imgSrc }}" alt="blog image description" class="w-full aspect-square" />
      <h3 class="mt-8 text-3xl font-medium truncate">{{ blog.title }}</h3>
      <div class="flex justify-between self-start mt-8">
        <a href="#" class="text-2xl leading-10">READ MORE</a>
        <img src="{{ readMoreIconUrl }}" alt="Read more" class="aspect-square w-8" />
      </div>
    </article>
    }
    <!-- Repeat the article structure for each blog post as needed -->
  </section>
</main>
