<main class="flex flex-col items-center w-full mb-32 md:max-w-full">
  <header id="headerTop" class="flex flex-col items-center px-5 font-[500] md:max-w-full">
    <h1 class="tracking-normal leading-[166%] text-2xl md:mt-8">OUR BLOGS</h1>
    <h2 class="mt-8 text-center font-[550] text-5xl">knowledge up with furrcrew’s petcare tips</h2>
    <p id="pTop" class="mt-8 leading-10 text-center text-[#71788A] text-2xl md:w-[45vw]">
      essential tips and insights about what’s new in pet care world ensuring health and happiness of your furry friends
    </p>
  </header>
  <div id="search" class="p-5 flex justify-center w-full search">
    <form class="flex bg-white border-gray-600 border rounded-full overflow-hidden w-full md:w-[55%]" [formGroup]="formGroup">
      <button type="submit" class="py-3.5 pr-4 pl-5">
        <img src="{{ searchIconUrl }}" alt="Search" class="aspect-square w-6" />
      </button>
      <input
        ng-scroll-to-top
        formControlName="search"
        (click)="scrollToTop()"
        (input)="filterBlogs()"
        class="flex flex-grow p-3 text-xl leading-8 outline-none rounded-full"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </div>
  <!-- <div class="flex max-w-full gap-5 px-5 mt-3 text-slate-500 pb-5">
    <span class="text-xl leading-8">Tags:</span>
    <div class="flex gap-4 font-medium max-sm:overflow-x-auto">
      <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag1</a>
      <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag2</a>
      <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag3</a>
      <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag4</a>
      <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag5</a>
      <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag6</a>
      <a href="#" class="px-7 py-2 bg-[#EDEDF6] rounded-xl">#Tag7</a>
    </div>
  </div> -->
  <section class="grid max-sm:grid-cols-2 md:grid-cols-3 flex-wrap gap-2 md:gap-20 justify-center content-center items-center md:px-40">
    @for (blog of filteredBlogs;track blog){
    <article class="flex flex-col p-3 max-sm:max-w-52 md:max-w-xs md:mt-10 cursor-pointer" (click)="goToBlogsDetails(blog.id)">
      <img src="{{ blog.images[0].value }}" alt="blog image description" class="w-full aspect-square object-cover" />
      <h3 class="mt-4 md:h-[4.5rem] flex-wrap md:mt-8 md:text-3xl font-medium line-clamp-2">{{ blog.title }}</h3>
      <div class="flex justify-between self-start md:mt-8">
        <a href="#" class="md:text-2xl leading-10">READ MORE</a>
        <img src="{{ readMoreIconUrl }}" alt="Read more" class="aspect-square w-8" />
      </div>
    </article>
    }
  </section>
</main>
<app-footer></app-footer>
