<div class="md:flex md:flex-col md:justify-center md:items-center">
  <div class="md:w-2/3 flex flex-col w-full max-w-full px-5">
    <div class="flex flex-col gap-5 px-5 max-w-full text-center text-black max-md:flex-wrap">
      <div class="gap-0 self-center text-6xl font-[590] max-md:text-4xl md:mt-10 max-sm:mt-5">Past Events</div>
      <div class="flex text-3xl justify-center">
        Browse through past fun and knowledgeable experiences curated just for you and your furry partners
      </div>
    </div>
    <div class="flex gap-5 max-md:flex-col justify-center p-5">
      <form class="flex justify-center bg-white border-gray-600 border rounded-[1.875rem] overflow-hidden md:w-2/3">
        <button type="submit" class="py-3.5 pr-4 pl-5">
          <img src="assets/icons/searchIcon.svg" alt="Search" class="aspect-square w-6" />
        </button>
        <input class="flex flex-grow p-3 text-xl leading-8 outline-none" type="search" placeholder="Search" aria-label="Search" />
      </form>
    </div>
    <div class="flex max-sm:flex-col md:flex-wrap justify-center items-start gap-5 mt-16 w-full">
      @for (event of events; track $index) {
      <article class="flex flex-col items-center w-full md:max-w-[25%] md:px-5">
        <div class="w-full flex z-10 justify-center pl-28 pb-4">
          <img src="assets/icons/drawing-pin.png" alt="Dog event" class="max-w-full aspect-[1.56] w-[9.375rem]" />
        </div>
        <div class="p-5 bg-white dark:bg-black shadow-md -mt-14 cursor-pointer" (click)="goToEventDetails(event.id)">
          <img src="{{ event.coverImage || event.images[0].value }}" alt="Event venue" class="w-full aspect-square object-cover" />
          <div class="flex items-center h-16">
            <h2 class="text-2xl font-bold line-clamp-2">{{ event.title }}</h2>
          </div>
          <div class="mt-3">
            <p class="line-clamp-1">{{ event.address.address }}</p>
            <time datetime="2024-04-14">{{ formatDate(event.scheduledDate) }}</time>
          </div>
        </div>
      </article>
      }
    </div>
  </div>
</div>
