<footer id="myFooter" class="flex flex-col justify-center items-center border-t border-solid border-darkfont border-opacity-30">
  <div class="flex w-full justify-center items-center">
    <nav class="flex justify-center gap-20 w-full">
      <ul class="flex flex-col">
        <li><a href="#" class="block text-2xl">Home</a></li>
        <li>
          <a href="#" class="block text-2xl mt-8">About Us</a>
        </li>
        <li>
          <a routerLink="Blogs" class="block text-2xl mt-8 cursor-pointer">Blogs</a>
        </li>
        <li>
          <a href="#" class="block text-2xl mt-8">Events</a>
        </li>
      </ul>
      <ul class="flex flex-col">
        <li>
          <a href="#" class="block text-2xl">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="block text-2xl mt-8">Support</a>
        </li>
        <li><a href="#" class="block text-2xl mt-8">Terms</a></li>
      </ul>
    </nav>
    <span class="shrink-0 m-20 w-0.5 bg-zinc-800 dark:bg-darkfont h-[173px]"></span>
    <div class="flex flex-col text-xl w-full mr-40">
      <div class="flex gap-5 leading-9">
        <img
          loading="lazy"
          [src]="themeService.isDarkTheme ? 'assets/icons/darkLocation.svg' : 'assets/icons/location.svg'"
          alt="Location
        icon"
          class="shrink-0 w-8 aspect-square"
        />
        <address class="not-italic">
          Office No- 503,504, 5th floor, Majestique Cityview, opposite Apsara Theatre, Gultekadi, Pune, Maharashtra 411037
        </address>
      </div>
      <div class="flex gap-5 mt-3">
        <img
          loading="lazy"
          [src]="themeService.isDarkTheme ? 'assets/icons/darkMail.svg' : 'assets/icons/mail.svg'"
          alt="Email icon"
          class="shrink-0 w-8 aspect-square"
        />
        <a href="mailto:support@furrcrew.com" class="not-italic">support&#64;furrcrew.com</a>
      </div>
      <div class="flex gap-5 mt-2.5">
        <img
          loading="lazy"
          [src]="themeService.isDarkTheme ? 'assets/icons/darkPhone.svg' : 'assets/icons/phone.svg'"
          alt="Phone icon"
          class="shrink-0 w-8 aspect-square"
        />
        <a href="tel:02029805658" class="not-italic">020 2980 5658</a>
      </div>
      <div class="flex flex-row gap-8">
        <img
          loading="lazy"
          [src]="themeService.isDarkTheme ? 'assets/icons/darkInstagram.svg' : 'assets/icons/instagram.svg'"
          alt="instagram logo"
          class="mt-6 w-[40px]"
        />
        <img
          loading="lazy"
          [src]="themeService.isDarkTheme ? 'assets/icons/darkFacebook.svg' : 'assets/icons/facebook.svg'"
          alt="facebook logo"
          class="mt-6 w-[40px]"
        />
        <img
          loading="lazy"
          [src]="themeService.isDarkTheme ? 'assets/icons/darkTwitter.svg' : 'assets/icons/twitter.svg'"
          alt="twitter logo"
          class="mt-6 w-[40px]"
        />
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center p-10 text-2xl mb-20">© BVUR Innovations India Pvt. Ltd.</div>
</footer>
<section
  id="stickyFooter"
  class="sticky flex justify-center items-center self-stretch dark:border-[#3f3f3f] border-t px-16 py-5 w-full bg-white dark:bg-[#29292BCC] backdrop-blur-md bg-opacity-60 max-md:px-5 max-md:max-w-full"
>
  <div class="flex gap-6 justify-between pl-14 max-w-full w-[1700px] max-md:flex-wrap max-md:pl-5">
    <p class="text-[25px] mt-3 font-[550] dark:text-darkfont">Download The App:</p>
    <div class="flex gap-5">
      <img
        loading="lazy"
        src="assets/icons/downloadgoogle.svg"
        alt="Download from App Store"
        class="shrink-0 max-w-full aspect-[3.33] w-[166px]"
      />
      <img
        loading="lazy"
        src="assets/icons/downloadapple.svg"
        alt="Download from Google
      Play"
        class="shrink-0 max-w-full aspect-[3.33] w-[167px]"
      />
    </div>
  </div>
</section>
<router-outlet></router-outlet>
