<div class="md:flex border-t gap-20 mt-20 max-sm:mt-14">
  <div class="flex max-sm:flex-col w-full justify-center">
    <div
      class="flex justify-center items-center px-5 py-5 border-solid border-darkfont border-opacity-40 md:flex-col md:w-2/3">
      <nav class="w-full flex-col flex md:flex-row md:gap-20 justify-center">
        <ul class="flex gap-5 mt-4 md:flex-col flex-wrap md:h-48">
          <li><a routerLink="/" class="block md:text-2xl">Home</a></li>
          <li><a routerLink="/about" class="block md:text-2xl">About Us</a></li>
          <li><a routerLink="/blogs" class="block md:text-2xl">Blogs</a></li>
          <li><a routerLink="/events" class="block md:text-2xl">Events</a></li>
          <li><a routerLink="/privacy-policy" class="block md:text-2xl">Privacy Policy</a></li>
          <li><a href="mailto:support@furrcrew.com" class="block md:text-2xl">Support</a></li>
          <li><a routerLink="/terms-and-condition" class="block md:text-2xl">Terms & Condition</a></li>
        </ul>
      </nav>
    </div>
    <div
      class="flex max-sm:flex-col max-sm:justify-center max-sm:border-t md:border-l-2 md:border-l-black md:dark:border-l-darkfont items-center md:pl-20 md:h-48 md:w-2/3 md:mt-10">
      <section class="gap-5 mt-5 max-sm:text-sm text-xl leading-4">
        <div class="flex flex-col gap-3">
          <div class="flex gap-4 leading-5 md:leading-9">
            <img loading="lazy" src="assets/icons/location.svg" alt="Location icon"
              class="shrink-0 aspect-square ml-3 w-[1rem] dark:invert" />
            <p class="w-3/4">
              Office No- 503,504, 5th floor, Majestique Cityview, opposite Apsara Theatre, Gultekadi, Pune, Maharashtra
              – 411037
            </p>
          </div>
          <div class="flex gap-4">
            <img loading="lazy" src="assets/icons/mail.svg" alt="Email icon"
              class="shrink-0 aspect-square ml-3 w-[1rem] dark:invert" />
            <a href="mailto:support@furrcrew.com">support&#64;furrcrew.com</a>
          </div>
          <div class="flex gap-4">
            <img loading="lazy" src="assets/icons/phone.svg" alt="Phone icon"
              class="shrink-0 aspect-square ml-3 w-[1rem] dark:invert" />
            <a href="tel:02029805658">020 2980 5658</a>
          </div>
        </div>
        <div class="flex flex-row gap-8 w-[1.5rem] ml-3">
          <img loading="lazy" src="assets/icons/instagram.svg" alt="instagram logo" class="mt-6 dark:invert" />
          <img loading="lazy" src="assets/icons/facebook.svg" alt="facebook logo" class="mt-6 dark:invert" />
          <img loading="lazy" src="assets/icons/twitter.svg" alt="twitter logo" class="mt-6 dark:invert" />
        </div>
      </section>
    </div>
  </div>
</div>
<footer class="flex justify-center text-sm p-10 md:text-2xl">© BVUR Innovations India Pvt. Ltd.</footer>
<div class="h-20"></div>
<section id="stickyFooter"
  class="sticky flex max-sm:justify-center w-full dark:border-[#3f3f3f] border-t px-24 py-5 bg-white dark:bg-[#29292BCC] backdrop-blur-md bg-opacity-60 max-md:px-5 max-md:max-w-full z-10">
  <div class="flex w-full justify-between max-w-full">
    <p class="font-[550] dark:text-darkfont w-full md:text-2xl items-center flex">Download The App:</p>
    <div class="flex gap-5 max-sm:gap-1">
      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.furrcrew.app">
        <img loading="lazy" src="assets/icons/downloadgoogle.svg" alt="Download from App Store" class="w-[12rem]" />
      </a>
      <a target="_blank" href="https://apps.apple.com/in/app/furrcrew/id6451879293">
        <img loading="lazy" src="assets/icons/downloadapple.svg" alt="Download from Google
          Play" class="w-[12rem]" />
      </a>
    </div>
  </div>
</section>