<header
  id="myHeader"
  class="sticky flex justify-center items-center w-full px-24 py-5 bg-[#29292BCC] text-xl border-b border-grayish bg-opacity-60 font-semibold backdrop-blur-md max-md:px-5"
>
  <nav class="flex gap-5 justify-between w-full max-w-[1700px] items-center max-md:flex-wrap">
    <img
      loading="lazy"
      [src]="themeService.isDarkTheme ? 'assets/images/furrcrewDark.svg' : 'assets/logo/furrcrew.svg'"
      alt="FurrCrew Logo"
      class="max-w-full"
    />
    <div class="flex gap-5 items-center">
      <button
        class="max-sm:hidden px-6 py-2 bg-gray-200 rounded-[30px] text-zinc-800 focus:outline-none focus:ring-2 focus:ring-zinc-300 focus:ring-offset-2 max-md:px-5"
        tabindex="0"
      >
        Get App!
      </button>
      <button><img src="assets/icons/hamburger.svg" /></button>
    </div>
  </nav>
</header>
<section class="flex flex-col min-h-screen justify-center items-center">
  <h1
    class="max-sm:text-7xl mb-5 text-8xl font-bold text-center dark:text-darkfont text-zinc-800 max-md:mt-10 max-md:max-w-full max-md:text-7xl"
  >
    for every being
  </h1>
  <p class="max-sm:text-3xl text-5xl text-center font-bold text-zinc-800 max-md:max-w-full max-md:text-4xl dark:text-darkfont">
    — human and animal alike.
  </p>
  <p class="max-sm:text-2xl max-sm: mt-6 mb-20 text-3xl w-[900px] text-center text-zinc-800 max-md:max-w-full dark:text-darkfont">
    We're here for the everyday experiences, stories, and the simple beauty of shared moments. Together, we learn and evolve on this journey
    towards better. In coexistence, possibilities are <br />
    boundless, driving our collective growth.
  </p>
</section>
