<header
  id="myHeader"
  class="border-b bg-white dark:bg-[#29292BCC] dark:border-[#3f3f3f] backdrop-blur-md bg-opacity-60 sticky flex flex-col w-full p-5 justify-between md:px-24"
>
  <nav class="flex gap-5 justify-between w-full items-center max-md:flex-wrap">
    <a href="/">
      <img
        loading="lazy"
        [src]="theme === 'dark' ? 'assets/images/furrcrewDark.svg' : 'assets/logo/furrcrew.svg'"
        alt="FurrCrew Logo"
        class="w-[15rem] max-sm:w-[10rem]"
      />
    </a>
    <div class="flex gap-5 items-center">
      <button (click)="toggleTheme()" class="justify-center px-6 py-3.5 bg-gray-200 dark:bg-gray-700 rounded-[29.333px] md:px-5">
        {{ theme === "dark" ? "Light" : "Dark" }}
      </button>
      <button (click)="toggleSidebar()">
        <img [src]="theme === 'dark' ? 'assets/icons/hamburgerDark.svg' : 'assets/icons/hamburger.svg'" />
      </button>
      <div class="sidebar clickOutside" [class.active]="sidebarOpen" (clickOutside)="closeSidebar()">
        <app-side-bar [sidebarOpen]="sidebarOpen" [closeSidebar]="closeSidebar" [theme]="theme"></app-side-bar>
      </div>
    </div>
  </nav>
</header>
<div class="h-24"></div>
