<header
  id="myHeader"
  class="border-b bg-white dark:bg-[#29292BCC] dark:border-[#3f3f3f] backdrop-blur-md bg-opacity-60 sticky flex flex-col w-full p-5 justify-between md:px-24"
>
  <nav class="flex gap-5 justify-between w-full items-center max-md:flex-wrap">
    <a href="/">
      <img
        loading="lazy"
        [src]="theme === 'dark' ? 'assets/images/furrcrewDark.svg' : 'assets/logo/furrcrew.svg'"
        alt="FurrCrew Logo"
        class="w-[15rem] max-sm:w-[10rem]"
      />
    </a>
    <div class="flex gap-5 items-center">
      <button
        (click)="toggleTheme()"
        [@changeState]="currentState"
        class="flex md:w-[104px] md:h-[50px] items-center bg-gray-200 dark:bg-gray-700 justify-between p-2 rounded-full border-2 border-transparent transition-colors duration-200"
      >
        <img *ngIf="theme === 'dark'" src="assets/icons/moonIcon.svg" class="flex bg-[#29292B] rounded-full p-2" />
        <img *ngIf="theme === 'light'" src="assets/icons/sunIcon.svg" class="flex bg-[#FFFFFF] rounded-full p-2" />
      </button>
      <button (click)="toggleSidebar()">
        <img [src]="theme === 'dark' ? 'assets/icons/hamburgerDark.svg' : 'assets/icons/hamburger.svg'" />
      </button>
      <div class="sidebar" [class.active]="sidebarOpen" (closeSidebar)="closeSidebar()">
        <app-side-bar [sidebarOpen]="sidebarOpen" [theme]="theme"></app-side-bar>
      </div>
    </div>
  </nav>
</header>
<div class="h-24"></div>
