.sticky {
  position: fixed;
  top: 0;
  z-index: 1000; /* Adjust as needed */
  /* Add any other styles you need for the sticky header */
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 500;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar.inactive {
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}
