<main class="self-center mt-12 w-full max-w-full max-md:mt-10 max-md:max-w-full px-24">
    <section class="flex gap-5 max-md:flex-col max-md:gap-0">
        <div class="flex flex-col w-[64%] max-md:ml-0 max-md:w-full">
            <div class="flex flex-col self-stretch px-5 my-auto text-black max-md:mt-10 max-md:max-w-full">
                <h1
                    class="font-[510] leading-[229px] text-[236px] max-md:max-w-full max-md:text-4xl max-md:leading-10 z-10 dark:text-white">
                    WE <br /> ARE <br /> FURRCRE<span class="text-white dark:text-black">W</span>
                </h1>
                <p class="mt-32 text-4xl max-md:mt-10 max-md:max-w-full dark:text-white">
                    we believe in building a community. A community of not just pets and pet lovers, but of love,
                    compassion and responsibility, all rooted in the shared passion to make the world a better place for
                    animals.
                </p>
            </div>
        </div>
        <div class="flex flex-col ml-5 w-[36%] max-md:ml-0 max-md:w-full">
            <div
                class="flex overflow-hidden relative flex-col grow justify-center items-start px-4 pb-20 text-right text-white whitespace-nowrap font-[510] min-h-[620px] pt-[527px] text-[236px] max-md:pt-10 max-md:pr-5 max-md:mt-1.5 max-md:max-w-full max-md:text-4xl">
                <img loading="lazy" src="/assets/images/cat_about_us.png" alt="Decorative background"
                    class="object-cover absolute inset-0 size-full rounded-3xl" />
            </div>
        </div>
    </section>
</main>
<section
    class="flex gap-5 justify-around items-start self-center mt-32 max-w-full text-black dark:text-white max-md:flex-wrap max-md:mt-10 px-10">
    <p class="self-stretch text-3xl leading-10 max-md:max-w-full w-1/2">
        At Furrcrew, we believe in building a community. A community of not just pets and pet lovers, but of love,
        compassion and responsibility, all rooted in the shared passion to make the world a better place for animals. We
        believe in forming bonds that promote peaceful coexistence of humans and animals, keeping our community animals
        happy and healthy. In line with that belief, we have built our new App - FurrCrew, an all-in-one pet space
        dedicated to fulfilling every pet's needs. From vetcare to grooming to adoption , everything your pet needs ,
        all at one place. We connect paws that seek help to hearts that share love, redefining the dimensions of the
        pet-space industry forever.
    </p>
    <div class="flex flex-col">
        <div class="flex gap-3 justify-center text-4xl leading-10">
            <img loading="lazy" src="/assets/icons/polygon.svg" alt="Founded icon"
                class="shrink-0 my-auto aspect-[0.93] fill-blue-700 w-[27px]" />
            <p>Founded In</p>
        </div>
        <p class="self-end mt-5 text-6xl leading-10 font-[510] max-md:text-4xl">2022</p>
    </div>
    <h2 class="text-4xl leading-10">OUR VISION</h2>
</section>
<section class="px-5 my-28 w-full">
    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <div class="flex flex-col w-[21%] max-md:ml-0 max-md:w-full">
            <img loading="lazy" src="/assets/images/about_us_image3.png" alt="Vision image 1"
                class="shrink-0 self-stretch my-auto max-w-full aspect-[0.68] w-[373px] max-md:mt-10" />
        </div>
        <div class="flex flex-col ml-5 w-[59%] max-md:ml-0 max-md:w-full">
            <img loading="lazy" src="/assets/images/about_us_image1.png" alt="Vision image 2"
                class="grow w-full aspect-[1.79] max-md:mt-10 max-md:max-w-full" />
        </div>
        <div class="flex flex-col ml-5 w-[21%] max-md:ml-0 max-md:w-full">
            <img loading="lazy" src="/assets/images/about_us_image2.png" alt="Vision image 3"
                class="shrink-0 self-stretch my-auto max-w-full aspect-[0.68] w-[374px] max-md:mt-10" />
        </div>
    </div>
</section>
<section
    class="flex justify-between self-center my-32 w-full text-black dark:text-white max-md:mt-10 max-md:max-w-full px-32">
    <div class="flex gap-5 justify-between max-md:flex-wrap max-md:max-w-full">
        <h2 class="text-4xl p-5">OUR MISSION</h2>
    </div>
    <div class="flex flex-col">
        <p class="text-8xl font-[590] leading-[99.84px] max-md:max-w-full max-md:text-4xl">live, care, connect.</p>
        <p
            class="self-end mt-11 text-4xl tracking-normal leading-10 text-justify w-[988px] max-md:mt-10 max-md:max-w-full">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est
            laborum
        </p>
    </div>
</section>
<section
    class="flex justify-center items-center px-16 -mb-20 w-full bg-gray-200 dark:bg-[#3A3A3A] max-md:px-5 max-md:mt-10 max-md:max-w-full">
    <div class="w-full max-w-[1574px] max-md:max-w-full">
        <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                <img loading="lazy" src="assets/images/iPhone 13 Pro.png" alt="App showcase"
                    class="grow w-full aspect-[0.71] max-md:mt-10 max-md:max-w-full" />
            </div>
            <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
                <div
                    class="flex flex-col self-stretch my-auto text-4xl tracking-normal text-black dark:text-white max-md:mt-10 max-md:max-w-full">
                    <h2 class="text-6xl tracking-wide font-[590] max-md:max-w-full max-md:text-4xl">
                        Download the app to join India's leading petcare community
                    </h2>
                    <ul class="list-none">
                        <li class="flex gap-4 mt-20 max-md:flex-wrap max-md:mt-10">
                            <img loading="lazy" src="assets/icons/tick-square.png" alt="Checkmark icon"
                                class="shrink-0 self-start w-8 aspect-square" />
                            <p class="my-auto max-md:max-w-full">All your pet needs in one app</p>
                        </li>
                        <li class="flex gap-4 mt-10 max-md:flex-wrap">
                            <img loading="lazy" src="assets/icons/tick-square.png" alt="Checkmark icon"
                                class="shrink-0 self-start w-8 aspect-square" />
                            <p class="my-auto max-md:max-w-full">Quick & seamless bookings</p>
                        </li>
                        <li class="flex gap-4 mt-10 max-md:flex-wrap">
                            <img loading="lazy" src="assets/icons/tick-square.png" alt="Checkmark icon"
                                class="shrink-0 self-start w-8 aspect-square" />
                            <p class="flex-1 max-md:max-w-full">Knowledge up with FurrCrew's webinars & courses</p>
                        </li>
                        <li class="flex gap-4 mt-10 max-md:flex-wrap">
                            <img loading="lazy" src="assets/icons/tick-square.png" alt="Checkmark icon"
                                class="shrink-0 self-start w-8 aspect-square" />
                            <p class="my-auto max-md:max-w-full">Be a part of FurrCrew's petcare community</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>