<div
  *ngIf="sidebarOpen"
  class="sidebar"
  class="md:w-[20vw] bg-[#ECECEC] dark:bg-[#353535] backdrop-blur-md"
  [class]="sidebarOpen ? 'active' : 'inactive'"
>
  <main class="flex flex-col">
    <header class="flex flex-col items-center max-sm:w-[100vw] h-[100vh]">
      <img
        src="assets/icons/closeIcon.svg"
        alt="X"
        class="self-end stroke-[0.375rem] max-sm:w-[2rem] cursor-pointer my-10 2xl:my-24 mx-16 max-sm:my-14 dark:invert"
        (click)="toggleSidebar()"
      />
      <div class="flex flex-col w-full items-end px-20">
        <nav class="flex flex-col text-3xl max-sm:text-2xl font-[400] w-full">
          <h1 class="self-end text-right"><a routerLink="about" class="cursor-pointer" (click)="toggleSidebar()">About Us</a></h1>
          <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
          <h2 class="self-end mt-6"><a routerLink="blogs" class="cursor-pointer" (click)="toggleSidebar()">Blogs</a></h2>
          <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
          <h3 class="self-end mt-6"><a routerLink="events" class="cursor-pointer" (click)="toggleSidebar()">Events</a></h3>
          <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
          <h3 class="self-end mt-6 text-right"><a routerLink="contact" class="cursor-pointer" (click)="toggleSidebar()">Contact</a></h3>
          <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
        </nav>
        <section class="flex flex-col w-60 max-w-full mt-10">
          <img src="assets/logo/furrcrewsmall.svg" class="w-20 self-end" />
          <div class="flex flex-col items-end mt-6">
            <a href="https://play.google.com/store/apps/details?id=com.furrcrew.app">
              <img src="assets/icons/downloadgoogle.svg" alt="" class="w-full aspect-[3.33]" />
            </a>
            <a href="https://apps.apple.com/in/app/furrcrew/id6451879293">
              <img src="assets/icons/downloadapple.svg" alt="" class="w-full mt-4 aspect-[3.33]" />
            </a>
          </div>
        </section>
      </div>
    </header>
  </main>
</div>
