<div class="sidebar" [class]="sidebarOpen ? 'active' : 'inactive'">
  <main class="flex flex-col justify-center mx-auto w-full max-w-[480px]">
    <header
      class="{{
        theme === 'dark' ? 'bg-gray-700 text-darkfont' : 'bg-gray-200'
      }}  flex flex-col items-center px-20 w-full  backdrop-blur-sm max-md:px-5 max-md:max-w-full h-[100vh]"
    >
      <img
        loading="lazy"
        src="assets/icons/closeIcon.svg"
        alt=""
        class="self-end stroke-[6px] stroke-zinc-800 max-md:mr-2 cursor-pointer py-10"
        (click)="closeSidebar()"
      />
      <nav class="flex flex-col text-3xl font-[400]">
        <h1 class="self-end text-right"><a routerLink="about" class="cursor-pointer">About Us</a></h1>
        <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
        <h2 class="self-end mt-6"><a routerLink="blogs" class="cursor-pointer">Blogs</a></h2>
        <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
        <h3 class="self-end mt-6"><a routerLink="events" class="cursor-pointer">Events</a></h3>
        <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
        <h3 class="self-end mt-6 text-right"><a routerLink="contact" class="cursor-pointer">Contact</a></h3>
        <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
        <p class="mt-6 text-right"><a routerLink="terms-and-condition" class="cursor-pointer">Terms & Conditions</a></p>
        <div class="shrink-0 mt-6 h-px border border-solid bg-zinc-200 bg-opacity-10 border-zinc-800 border-opacity-20"></div>
      </nav>
      <section class="flex flex-col w-60 max-w-full mt-10">
        <img loading="lazy" src="assets/logo/furrcrewsmall.svg" class="w-20 self-end" />
        <div class="flex flex-col items-center mt-6">
          <a href="https://play.google.com/store/apps/details?id=com.furrcrew.app">
            <img loading="lazy" src="assets/icons/downloadgoogle.svg" alt="" class="w-full aspect-[3.33]" />
          </a>
          <a href="https://apps.apple.com/in/app/furrcrew/id6451879293">
            <img loading="lazy" src="assets/icons/downloadapple.svg" alt="" class="w-full mt-4 aspect-[3.33]" />
          </a>
        </div>
      </section>
    </header>
  </main>
</div>
