<div class="self-center mt-24 w-full max-w-[1574px] max-md:mt-10 max-md:max-w-full">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <div class="flex flex-col w-[38%] max-md:ml-0 max-md:w-full">
      <img
        loading="lazy"
        srcset="
          https://cdn.builder.io/api/v1/image/assets/TEMP/54d898a9a288eeb4d5237794198c36f60d37d191cfdeef1f917f0967880e0c8c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&width=100   100w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/54d898a9a288eeb4d5237794198c36f60d37d191cfdeef1f917f0967880e0c8c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&width=200   200w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/54d898a9a288eeb4d5237794198c36f60d37d191cfdeef1f917f0967880e0c8c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&width=400   400w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/54d898a9a288eeb4d5237794198c36f60d37d191cfdeef1f917f0967880e0c8c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&width=800   800w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/54d898a9a288eeb4d5237794198c36f60d37d191cfdeef1f917f0967880e0c8c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&width=1200 1200w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/54d898a9a288eeb4d5237794198c36f60d37d191cfdeef1f917f0967880e0c8c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&width=1600 1600w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/54d898a9a288eeb4d5237794198c36f60d37d191cfdeef1f917f0967880e0c8c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&width=2000 2000w,
          https://cdn.builder.io/api/v1/image/assets/TEMP/54d898a9a288eeb4d5237794198c36f60d37d191cfdeef1f917f0967880e0c8c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&
        "
        class="w-full border-2 border-gray-200 border-solid aspect-square max-md:mt-1 max-md:max-w-full"
      />
    </div>
    <div class="flex flex-col ml-5 w-[62%] max-md:ml-0 max-md:w-full">
      <div
        class="flex flex-col grow justify-center px-16 py-16 w-full bg-white border-2 border-gray-200 border-solid rounded-[32px] max-md:px-5 max-md:mt-1 max-md:max-w-full"
      >
        <div class="flex flex-col max-md:max-w-full">
          <div class="flex flex-col text-black max-md:max-w-full">
            <div class="flex flex-col max-md:max-w-full">
              <div class="text-5xl font-bold tracking-normal max-md:max-w-full max-md:text-4xl">Summer Social, FurrFiesta</div>
              <div class="mt-6 text-2xl tracking-normal leading-10 max-md:max-w-full">
                FurrFiesta is coming to Hinjewadi with our signature Fun & Games, Pet Trivia, Pet Painting, and much more. Drop by for a fun
                summer time with your furry buddies!
              </div>
            </div>
            <div class="flex flex-col mt-9 text-2xl tracking-normal leading-10 font-[590] max-md:max-w-full">
              <div class="flex gap-3 max-md:flex-wrap">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/cf7b5b4046e39e9c9d223fb045f3c4a1138ab1328778cd77b49323efc8f49e21?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&"
                  class="shrink-0 w-9 aspect-square"
                />
                <div class="flex-1 my-auto max-md:max-w-full">The Community Table, Hinjewadi, Pune</div>
              </div>
              <div class="flex gap-3 mt-6 max-md:flex-wrap">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/cd5d043e3c35bfc8c5ea1aa3ab21dd0914b7fa1778f4e1c25ef021a71abbd599?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&"
                  class="shrink-0 w-9 aspect-square"
                />
                <div class="flex-1 my-auto max-md:max-w-full">Sunday, 14 Apr 2024 | 4pm – 8pm</div>
              </div>
              <div class="flex gap-3 mt-6 leading-10 text-zinc-500 max-md:flex-wrap">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/7fb8de3a7ddda3b4d2c0b0093cfd081047435e9c7d747a4319bc6a422461e46c?apiKey=fd1b59619aab4d349f62eb05b8cf3d22&"
                  class="shrink-0 w-9 aspect-square"
                />
                <div class="flex-1 my-auto max-md:max-w-full">
                  ₹299
                  <span class="text-xl font-[510] text-zinc-500"> onwards </span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="justify-center items-center px-16 py-6 mt-24 max-w-full text-3xl tracking-normal leading-10 text-white bg-blue-500 rounded-xl font-[510] w-[360px] max-md:px-5 max-md:mt-10"
          >
            Book Tickets
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
