<section class="self-center text-center py-10 px-5">
  <h1 class="font-[590] text-7xl max-sm:text-4xl">cultivating genuine connections</h1>
  <p class="text-2xl md:text-3xl">– Building communities through shared experiences and growth</p>
</section>

<div class="flex justify-center items-center p-5">
  <video src="assets/videos/pet_video.mp4" [ngStyle]="{ width: imageWidth }">Your browser does not support video tag</video>
</div>

<div class="self-center mt-48 w-full max-md:mt-10 max-md:max-w-full">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <div class="max-sm:hidden flex flex-col justify-center px-5">
      <img src="assets/images/events0.png" class="min-w-[248px]" />
    </div>
    <div class="flex flex-col">
      <div class="flex flex-col justify-center grow px-5 text-xl md:text-4xl font-[590] max-md:mt-10 max-md:max-w-full">
        <div class="flex justify-center max-md:max-w-full text-center p-5">
          we are here for the everyday experiences, the stories, for the simple beauty of shared companionship, for moments that define them
          – learning alongside with you on this journey, in the constant pursuit of better.
        </div>
        <div class="relative">
          <img loading="lazy" src="assets/images/events1.png" class="max-sm:hidden w-full aspect-[1.79] max-md:max-w-full" />
          <div class="max-sm:hidden absolute -bottom-20 -left-20">
            <img src="assets/images/events1 (1).png" />
          </div>
        </div>
      </div>
    </div>
    <div class="md:hidden px-5 gap-3">
      <div class="flex justify-center gap-3 mt-9">
        <img loading="lazy" src="assets/images/events0.png" class="shrink-0 my-auto max-w-full aspect-square w-[142px]" />
        <img loading="lazy" src="assets/images/events2.png" class="shrink-0 my-auto max-w-full aspect-square w-[165px]" />
      </div>
      <div class="py-5">
        <img src="assets/images/events1.png" />
      </div>
      <div class="flex">
        <img src="assets/images/events1 (1).png" />
        <img src="assets/images/events3.png" class="w-full aspect-square" />
      </div>
    </div>
    <div class="max-sm:hidden flex flex-col ml-5 w-[18%]">
      <div class="flex flex-col mt-14 max-md:mt-10">
        <img loading="lazy" src="assets/images/events2.png" class="min-w-[289px] aspect-square" />
        <img
          loading="lazy"
          src="assets/images/events3.png"
          class="self-end mt-56 mr-9 max-w-full aspect-square w-[167px] max-md:mt-10 max-md:mr-2.5"
        />
      </div>
    </div>
  </div>
</div>

<div class="rounded-t-3xl md:rounded-[80px_80px_0px_0px] py-20 mt-44 flex flex-col w-full bg-[#ECECEC] dark:bg-[#323232] max-md:mt-10">
  <section class="md:mt-10 flex flex-col w-full max-w-[1680px] px-5">
    <div class="flex max-sm:flex-col md:justify-between md:p-5 items-start md:px-20">
      <div class="flex flex-col">
        <h1 class="md:text-6xl font-[550] max-md:text-4xl">Upcoming Events</h1>
        <p class="mt-3 text-2xl md:text-3xl md:w-2/3">Fun and knowledgeable new experiences curated just for you and your furry partners</p>
      </div>
      <div class="flex flex-col p-3">
        <button
          class="border-solid border-black dark:border-darkfont border rounded-full px-5 h-10 md:h-20 flex items-center justify-center text-2xl md:text-3xl"
        >
          <a routerLink="past-events"> past events </a>
          <img src="assets/icons/arrowupright.svg" class="invert dark:invert-0 max-sm:w-5" />
        </button>
      </div>
    </div>
    <div class="flex max-sm:flex-col md:flex-wrap justify-center items-start gap-5 mt-16 w-full">
      @for (event of events; track $index) {
      <article class="flex flex-col items-center w-full md:max-w-[25%] md:px-5">
        <img src="assets/icons/drawing-pin.png" alt="Dog event" class="max-w-full aspect-[1.56] w-[150px] z-10" />
        <div class="p-5 bg-white dark:bg-black shadow-md mt-[-60px] cursor-pointer" (click)="goToEventDetails(event.id)">
          <img src="{{ event.images[0].value }}" alt="Event venue" class="w-full aspect-square object-cover" />
          <h2 class="mt-3 text-2xl font-bold">{{ event.title }}</h2>
          <div class="mt-3">
            <p>{{ event.address.address }}</p>
            <time datetime="2024-04-14">{{ formatDate(event.scheduledDate) }}</time>
          </div>
        </div>
      </article>
      }
    </div>
  </section>
  <section class="mt-16 md:mt-32 mb-4 flex flex-col items-center w-full px-5">
    <h2 class="text-2xl font-[550] md:text-4xl">Creating Memories Across</h2>
    <div class="mt-10 md:mt-16 flex flex-wrap justify-center gap-5 w-full max-w-full">
      <div class="flex flex-col items-center w-1/4">
        <p class="text-4xl md:text-8xl font-extrabold">20 +</p>
        <p class="text-xl md:text-4xl font-medium mt-2">EVENTS</p>
      </div>
      <div class="flex flex-col items-center w-1/4">
        <p class="text-4xl md:text-8xl font-extrabold">4 +</p>
        <p class="text-xl md:text-4xl font-medium mt-2">CITIES</p>
      </div>
      <div class="flex flex-col items-center w-1/4">
        <p class="text-4xl md:text-8xl font-extrabold">15k +</p>
        <p class="text-xl md:text-4xl font-medium mt-2">ATTENDEES</p>
      </div>
    </div>
    <img src="assets/images/event-places.png" alt="Event collage" class="max-sm:hidden w-full aspect-[4.76] mt-10" />
    <img src="assets/images/event-place2.png" alt="Event collage" class="md:hidden w-full mt-10" />
    <img src="assets/images/event-place1.png" alt="Event collage" class="md:hidden w-full mt-10" />
  </section>
</div>

<main class="flex items-start w-full max-md:pr-5 max-md:max-w-full p-10">
  <section class="flex flex-col max-w-full md:w-2/3">
    <article class="flex flex-col max-md:max-w-full">
      <h1 class="text-8xl max-md:max-w-full max-md:text-4xl max-md:leading-10">Nurturing authentic connections unplugged</h1>
      <p class="mt-6 text-xl md:text-3xl md:leading-9 max-md:max-w-full">
        Facilitating opportunities to come together, learn and grow - where communities are built.
      </p>
    </article>
    <div class="flex gap-5">
      <footer class="justify-center mt-9 text-xl md:text-3xl leading-9 underline whitespace-nowrap max-md:max-w-full">
        <a href="https://www.instagram.com/furrcrewofficial/"> &#64;furrcrewofficial </a>
      </footer>
      <footer class="justify-center mt-9 text-xl md:text-3xl leading-9 underline whitespace-nowrap max-md:max-w-full">
        <a href="https://www.instagram.com/furrfiestaofficial/"> &#64;furrfiestaofficial </a>
      </footer>
    </div>
  </section>
</main>

<div class="md:hidden gap-2.5 p-5 w-full grid grid-cols-2 max-w-full">
  <img loading="lazy" src="assets/images/event-gallery1.png" class="shrink-0 max-w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery2.png" class="shrink-0 max-w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery3.png" class="shrink-0 max-w-full aspect-square" />
  <video src="assets/videos/events_2.mov" class="row-span-2 h-full w-full aspect-auto"></video>
  <video src="assets/videos/events_2.mov" class="row-span-2 h-full"></video>
  <img loading="lazy" src="assets/images/event-gallery5.png" class="shrink-0 max-w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery6.png" class="shrink-0 max-w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery7.png" class="shrink-0 max-w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery8.png" class="shrink-0 max-w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery9.png" class="shrink-0 max-w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery10.png" class="w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery11.png" class="w-full aspect-square" />
  <img loading="lazy" src="assets/images/event-gallery12.png" class="w-full aspect-square" />
</div>

<div class="max-sm:hidden grid grid-cols-4 gap-2 md:gap-4 p-5">
  <img loading="lazy" src="assets/images/event-gallery1.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery2.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery3.png" class="w-full aspect-square max-md:mt-7" />
  <video src="assets/videos/events_2.mov" class="row-span-2 w-full aspect-auto"></video>
  <video src="assets/videos/events_2.mov" class="row-span-2 h-full"></video>
  <img loading="lazy" src="assets/images/event-gallery4.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery5.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery6.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery7.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery8.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery9.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery10.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery11.png" class="w-full aspect-square max-md:mt-7" />
  <img loading="lazy" src="assets/images/event-gallery12.png" class="w-full aspect-square max-md:mt-7" />
</div>

<app-footer></app-footer>
