<main class="flex items-center justify-center mt-64 text-center">
  <h1 class="text-6xl mb-20 font-bold max-md:mt-10 md:w-2/3 flex flex-wrap max-md:text-4xl">
    culture of innovation and shared purpose to leave an enduring impact.
  </h1>
</main>

<ul class="flex overflow-x-auto md:py-5 md:px-32">
  @for (item of items;track item){
  <li class="min-w-[300px] flex-shrink-0 m-5">
    <div class="flex flex-col w-80">
      <img [src]="item.imgSrc" [alt]="item.title" class="h-70 w-70" />
      <h2 class="mt-6 text-2xl leading-9">{{ item.title }}</h2>
      <div class="flex gap-3 items-center mt-6">
        <a routerLink="blogs" class="text-2xl leading-9">READ MORE</a>
        <img src="assets/icons/arrowright.svg" alt="Read more" class="w-[23px] h-[23px]" />
      </div>
    </div>
  </li>
  }
</ul>

<main class="flex justify-center items-center min-h-[60vh]">
  <section class="text-center mt-10 gap-28 md:w-2/3">
    <p class="font-SFPro font-[550] md:text-4xl max-sm:text-2xl leading-9 p-5 px-32">
      Because when it comes to coexistence, there are no limits – only endless possibilities as collective evolution takes us all
    </p>
    <p class="md:text-[150px] max-sm:text-[5rem] font-bold mt-10">for you, furrcrew</p>
  </section>
</main>
