@media (max-width: 768px) {
  .max-md:mt-10 {
    margin-top: 2.5rem;
  }

  .max-md:max-w-full {
    width: 100%;
  }

  .max-md:text-4xl {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 2rem; /* Adjusting font size for responsiveness */
  }
}
:host-context(.custom-scrollbar) ::ng-deep * {
  scrollbar-width: thin !important; /* Add !important to override global styles */
  scrollbar-color: gray transparent !important; /* Add !important to override global styles */
}
.drag-cursor {
  cursor: url("../../../assets/icons/dragIcon.png"), auto;
}
.dragging {
  cursor: url("../../../assets//icons/dragIcon2.png"), auto;
}
.scroll-container {
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  overflow-x: scroll;
  white-space: nowrap; /* Ensures that items don't wrap to next line */
}
