<main class="flex max-sm:flex-col max-sm:px-5 md:justify-between md:items-start md:ml-28">
  <h1 class="text-6xl md:mb-20 font-[550] my-8 md:w-2/3 flex flex-wrap">culture and shared purpose to leave an enduring
    impact.</h1>
  <button
    class="md:mr-28 max-sm:w-2/3 md:mt-5 border-solid border-black dark:border-darkfont border rounded-full px-5 h-10 md:h-20 flex items-center justify-center text-2xl md:text-3xl">
    <a routerLink="blogs"> view all blogs</a>
    <img src="assets/icons/arrowupright.svg" class="invert dark:invert-0 max-sm:w-5" />
  </button>
</main>

<div class="">
  <div class="md:pl-24 overflow-x-auto md:py-5 md:px-32 parent">
    <ul class="flex">
      @for (item of items.slice(0,6);track item){
      <li class="max-sm:scroll-ml-4 md:scroll-ml-6 snap-start md:min-w-[18.75rem] flex-shrink-0 m-5 cursor-pointer" (click)="goToBlogsDetails(item.id)">
        <div class="flex flex-col w-80 max-sm:w-48">
          <img [src]="item.images[0].value" [alt]="item.title" class="w-full aspect-square object-cover " />
          <a class="text-2xl leading-9">
            <h2 class="mt-6 text-2xl leading-9 line-clamp-2 h-20 cursor-pointer">{{ item.title }}</h2>
            <div class="flex gap-3 items-center mt-6 cursor-pointer">
              READ MORE
              <img src="assets/icons/arrowright.svg" alt="Read more" class="w-[1.4375rem] h-[1.4375rem]" />
            </div>
          </a>
        </div>
      </li>
      }
    </ul>
  </div>
</div>

<main class="flex justify-center items-center min-h-[60vh]">
  <section class="text-center mt-10 gap-28">
    <div class="w-full flex justify-center">
      <p class="font-SFPro font-[500] md:text-4xl max-sm:text-2xl leading-9 p-5 md:px-32 md:w-2/3">
        Because when it comes to coexistence, there are no limits – only endless possibilities as collective evolution
        takes us all
      </p>
    </div>
    <p class="md:text-[9.375rem] max-sm:text-[5rem] font-bold mt-10">for you, furrcrew</p>
  </section>
</main>