/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF Pro";
    /* font-style: normal; */
    /* font-weight: 400; */
    /* font-display: swap; */
    /* src: url(/src/assets/fonts/SF-Pro.ttf) format("ttf"); */
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
