<div class="flex flex-col items-center px-4 my-20 w-full">
  <video
    #video
    (canplay)="video.play()"
    muted
    loop
    autoplay
    class="rounded-3xl"
    *ngIf="isMobile; else desktopVideo"
    [src]="mobileVideoPath"
  >
    Your browser does not support video tag
  </video>
  <ng-template #desktopVideo>
    <video #video (canplay)="video.play()" muted loop autoplay class="w-[75rem] rounded-3xl">
      <source src="assets/videos/pet_video.mp4" />
      Your browser does not support video tag
    </video>
  </ng-template>
</div>
