<main class="flex justify-center items-center px-16 md:px-20 w-full max-md:px-5 max-md:mt-10 tab-container">
  <section class="flex flex-col mt-12 mb-6 w-full max-w-[89.375rem] max-md:mt-10">
    <nav class="flex gap-5 max-sm:overflow-x-scroll snap-x">
      <div class="flex flex-col flex-1 cursor-pointer scroll-ml-6 snap-start" (click)="setActiveTab(0)">
        <div class="bg-slate-300 max-sm:w-[15rem]">
          <div class="{{ activeTab === 0 ? 'bg-black' : 'bg-slate-300' }} shrink-0 h-[0.813rem]  md:w-[22rem] tab "
            [style.width.%]="activeTab === 0 ? progressWidth : '100'"></div>
        </div>
        <h2 class="mt-6 text-2xl leading-6">VET CARE</h2>
      </div>
      <div class="flex flex-col flex-1 cursor-pointer scroll-ml-6 snap-start" (click)="setActiveTab(1)">
        <div class="bg-slate-300 max-sm:w-[15rem]">
          <div class=" {{ activeTab === 1 ? 'bg-black' : 'bg-slate-300' }} shrink-0 h-[0.813rem]  md:w-[22rem] tab "
            [style.width.%]="activeTab === 1 ? progressWidth : '100'"></div>
        </div>
        <h2 class="mt-6 text-2xl leading-6">GROOMING</h2>
      </div>
      <div class="flex flex-col flex-1 cursor-pointer scroll-ml-6 snap-start" (click)="setActiveTab(2)">
        <div class="bg-slate-300 max-sm:w-[15rem]">
          <div class=" {{ activeTab === 2 ? 'bg-black' : 'bg-slate-300' }} shrink-0 h-[0.813rem]  md:w-[22rem] tab "
            [style.width.%]="activeTab === 2 ? progressWidth : '100'"></div>
        </div>
        <h2 class="mt-6 text-2xl leading-6">TRAINER</h2>
      </div>
      <div class="flex flex-col flex-1 cursor-pointer scroll-ml-6 snap-start" (click)="setActiveTab(3)">
        <div class="bg-slate-300 max-sm:w-[15rem]">
          <div class=" {{ activeTab === 3 ? 'bg-black' : 'bg-slate-300' }} shrink-0 h-[0.813rem]  md:w-[22rem] tab "
            [style.width.%]="activeTab === 3 ? progressWidth : '100'"></div>
        </div>
        <h2 class="mt-6 text-2xl leading-6">WALKER</h2>
      </div>
    </nav>
    <article *ngIf="activeTab === 0" class="px-0.5 mt-14 max-md:mt-10 fadeInOut">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-6/12 max-md:w-full">
          <div class="flex flex-col text-2xl leading-6">
            <h1 class="text-6xl font-[590] leading-[3.313rem] max-md:text-4xl max-md:leading-9">
              Vet care at <br />
              your fingertips
            </h1>
            <p class="mt-6">
              Our objective is simple yet profound, to seamlessly integrate education, employment, and empowerment to
              elevate the quality of
              services offered in the industry.
            </p>
            <div class="flex gap-5 justify-between self-start mt-7">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkThumbsup.svg' : 'assets/icons/thumbsup.svg'"
                alt="Easy booking flow icon" class="shrink-0 w-10 aspect-square" />
              <span>Easy booking flow</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkWebuser.svg' : 'assets/icons/webuser.svg'"
                alt="Online, offline bookings icon" class="shrink-0 w-10 aspect-square" />
              <span>Online, offline bookings</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkInjection.svg' : 'assets/icons/injection.svg'"
                alt="Home visits and vaccinations icon" class="shrink-0 w-10 aspect-square" />
              <span>Home visits and vaccinations</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkCardarrow.svg' : 'assets/icons/cardarrow.svg'"
                alt="Easy refunds and rebooking of appointments icon" class="shrink-0 w-10 aspect-square" />
              <span>Easy refunds and rebooking of appointments</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          <div class="flex overflow-hidden relative flex-col py-px md:min-h-[35.938rem]">
            <img loading="lazy" [src]="themeService.isDarkTheme ? vetImgDark : vetImg" alt="Featured vet care service"
              class="w-full h-full" />
          </div>
        </div>
      </div>
    </article>
    <article *ngIf="activeTab === 1" class="px-0.5 mt-14 max-md:mt-10 fadeInOut">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-6/12 max-md:w-full">
          <div class="flex flex-col text-2xl leading-6">
            <h1 class="text-6xl font-[590] leading-[3.313rem] max-md:text-4xl max-md:leading-9">
              top groomer for <br />
              furry makeovers
            </h1>
            <p class="mt-6">
              Our objective is simple yet profound, to seamlessly integrate education, employment, and empowerment to
              elevate the quality of services offered in the industry.
            </p>
            <div class="flex gap-5 justify-between self-start mt-7">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkThumbsup.svg' : 'assets/icons/thumbsup.svg'"
                alt="Easy booking flow icon" class="shrink-0 w-10 aspect-square" />
              <span>Easy booking flow</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkWebuser.svg' : 'assets/icons/webuser.svg'"
                alt="Online, offline bookings icon" class="shrink-0 w-10 aspect-square" />
              <span>Online, offline bookings</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkInjection.svg' : 'assets/icons/injection.svg'"
                alt="Home visits and vaccinations icon" class="shrink-0 w-10 aspect-square" />
              <span>Home visits and vaccinations</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkCardarrow.svg' : 'assets/icons/cardarrow.svg'"
                alt="Easy refunds and rebooking of appointments icon" class="shrink-0 w-10 aspect-square" />
              <span>Easy refunds and rebooking of appointments</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          <div class="flex overflow-hidden relative flex-col py-px md:min-h-[35.938rem]">
            <img loading="lazy" [src]="groomingImg" alt="Featured vet care service" class="w-full h-full" />
          </div>
        </div>
      </div>
    </article>
    <article *ngIf="activeTab === 2" class="px-0.5 mt-14 max-md:mt-10 fadeInOut">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-6/12 max-md:w-full">
          <div class="flex flex-col text-2xl leading-6">
            <h1 class="text-6xl font-[590] leading-[3.313rem] max-md:text-4xl max-md:leading-9">
              Professional Pet <br /> Training Services
            </h1>
            <p class="mt-6">
              Our certified trainers offer personalized programs to teach your pets good manners and essential skills.
              Enhance your pet’s well-being.
            </p>
            <div class="flex gap-5 justify-between self-start mt-7">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkThumbsup.svg' : 'assets/icons/thumbsup.svg'"
                alt="Certified, Experienced Trainers icon" class="shrink-0 w-10 aspect-square" />
              <span>Certified, Experienced Trainers</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkWebuser.svg' : 'assets/icons/webuser.svg'"
                alt="Direct Contact icon" class="shrink-0 w-10 aspect-square" />
              <span>Direct Contact</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkInjection.svg' : 'assets/icons/injection.svg'"
                alt="Flexible Scheduling icon" class="shrink-0 w-10 aspect-square" />
              <span>Flexible Scheduling</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          <div class="flex overflow-hidden relative flex-col py-px md:min-h-[35.938rem]">
            <img loading="lazy" [src]="trainerImg" alt="Featured vet care service" class="w-full h-full" />
          </div>
        </div>
      </div>
    </article>
    <article *ngIf="activeTab === 3" class="px-0.5 mt-14 max-md:mt-10 fadeInOut">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-6/12 max-md:w-full">
          <div class="flex flex-col text-2xl leading-6">
            <h1 class="text-6xl font-[590] leading-[3.313rem] max-md:text-4xl max-md:leading-9">
              Quality Care on <br />Every Step
            </h1>
            <p class="mt-6">
              we connect you with professional and passionate walkers who are dedicated to providing the best care for
              your furry friends. Each walker is thoroughly vetted and experienced in handling pets .
            </p>
            <div class="flex gap-5 justify-between self-start mt-7">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkThumbsup.svg' : 'assets/icons/thumbsup.svg'"
                alt="Experienced Professionals" class="shrink-0 w-10 aspect-square" />
              <span>Experienced Professionals</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkWebuser.svg' : 'assets/icons/webuser.svg'"
                alt="Real time updates" class="shrink-0 w-10 aspect-square" />
              <span>Real time updates</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy"
                [src]="themeService.isDarkTheme ? 'assets/icons/darkCardarrow.svg' : 'assets/icons/cardarrow.svg'"
                alt="Easy refunds and rebooking of appointments icon" class="shrink-0 w-10 aspect-square" />
              <span>Easy refunds and rebooking of appointments</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          <div class="flex overflow-hidden relative flex-col py-px md:min-h-[35.938rem]">
            <img loading="lazy" [src]="walkerImg" alt="Featured vet care service" class="w-full h-full" />
          </div>
        </div>
      </div>
    </article>
  </section>
</main>