<main class="flex justify-center items-center px-16 py-20 mt-32 w-full max-md:px-5 max-md:mt-10">
  <section class="flex flex-col mt-12 mb-6 w-full max-w-[1430px] max-md:mt-10">
    <nav class="flex gap-5 max-md:flex-wrap">
      <div class="flex flex-col flex-1">
        <div class="flex flex-col justify-center items-start bg-zinc-300">
          <div class="shrink-0 w-3 bg-black h-[13px]"></div>
        </div>
        <h2 class="mt-6 text-2xl leading-6">VET CARE</h2>
      </div>
      <div class="flex flex-col flex-1">
        <div class="shrink-0 bg-zinc-300 h-[13px]"></div>
        <h2 class="mt-6 text-2xl leading-6">GROOMING</h2>
      </div>
      <div class="flex flex-col flex-1">
        <div class="shrink-0 bg-zinc-300 h-[13px]"></div>
        <h2 class="mt-6 text-2xl leading-6">NGO</h2>
      </div>
      <div class="flex flex-col flex-1">
        <div class="shrink-0 bg-zinc-300 h-[13px]"></div>
        <h2 class="mt-6 text-2xl leading-6">ADOPTION</h2>
      </div>
    </nav>
    <article class="px-0.5 mt-14 max-md:mt-10">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-6/12 max-md:w-full">
          <div class="flex flex-col text-2xl leading-6">
            <h1 class="text-6xl font-[590] leading-[53px] max-md:text-4xl max-md:leading-9">
              Vet care at <br />
              your fingertips
            </h1>
            <p class="mt-6">
              Our objective is simple yet profound, to seamlessly integrate education, employment, and empowerment to elevate the quality of
              services offered in the industry.
            </p>
            <div class="flex gap-5 justify-between self-start mt-7">
              <img loading="lazy" src="assets/icons/thumbsup.svg" alt="Easy booking flow icon" class="shrink-0 w-10 aspect-square" />
              <span>Easy booking flow</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img loading="lazy" src="assets/icons/webuser.svg" alt="Online, offline bookings icon" class="shrink-0 w-10 aspect-square" />
              <span>Online, offline bookings</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img
                loading="lazy"
                src="assets/icons/injection.svg"
                alt="Home visits and vaccinations icon"
                class="shrink-0 w-10 aspect-square"
              />
              <span>Home visits and vaccinations</span>
            </div>
            <div class="flex gap-5 justify-between self-start mt-6">
              <img
                loading="lazy"
                src="assets/icons/cardarrow.svg"
                alt="Easy refunds and rebooking of appointments icon"
                class="shrink-0 w-10 aspect-square"
              />
              <span>Easy refunds and rebooking of appointments</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          <div class="flex overflow-hidden relative flex-col py-px min-h-[575px]">
            <img loading="lazy" [src]="vetImg" alt="Featured vet care service" class="w-full h-full" />
          </div>
        </div>
      </div>
    </article>
  </section>
</main>
