.fadeInOut {
  animation: fadeInOutAnimation 1.5s ease;
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tab-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px; /* Adjust as needed */
  background-color: black; /* Initial color */
  transition: width 0.5s ease; /* Adjust the duration as needed */
}

.active-tab {
  background-color: black;
}
.tab {
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px; /* Same height as tab-slider */
  background-color: black; /* Color of the progress bar */
  z-index: 999; /* Ensure it's above the tabs */
  transition: width 1s ease; /* Adjust the duration of the progress animation */
}
